.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: $mainDarkColor;
    color: $mainLightColor;
    padding: 10px 30px;
    box-shadow: 0 0 5px $mainDarkColor;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 3;
    height: 85px;
    .logoNav {
        width: 150px;
    }
    .menu {
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        left: -100vw;
        top: 85px;
        background: $mainLightColor;
        color: $mainDarkColor;
        width: 100vw;
        height: calc(100vh - 85px);
        .menuItem {
            font-weight: 400;
            text-align: center;
            div {
                width: 90vw;
                display: flex;
                justify-content: center;
                border-bottom: 1px solid $mainDarkColor;
                padding: 20px;
                &:hover {
                    background: lighten($mainDarkColor, 45);
                    color: $mainLightColor;
                }
            }
        }
    }
    .social {
        position: absolute;
        top: 370px;
        left: -100vw;
        width: 100vw;
        display: flex;
        justify-content: center;
        background: $mainLightColor;
        .socialItem {
            margin: 0 20px;
            color: $mainDarkColor;
        }
    }
}

@media screen and (min-width: 1000px) {
    .navbar {
        .miniMenuBtn {
            display: none;
        }
        .closeMiniMenu {
            display: none;
        }            
        .menu {
            justify-content: center;
            position: static;
            flex-direction: row;
            background: $mainDarkColor;
            color: $mainLightColor;
            height: 85px;
            .menuItem {
                margin: 0 10px;
                font-size: 1.5em;
                font-weight: 300;
                div {
                    display: block;
                    width: auto;
                    padding: 15px;
                    &:hover {
                        background: $mainDarkColor;
                        border-bottom: 1px solid $mainLightColor;
                        opacity: 0.8;
                    }
                }
                
            }
        }
        .social {
            position: static;
            background: $mainDarkColor;
            width: 145px;
            .socialItem {
                margin: 0 15px;
                color: $mainLightColor;
            }
        }
        
    }
}