.prestation {
    margin-top: 85px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    h1 {
        text-align: center;
        font-size: 2.9em;
        font-weight: 300;
        margin: 30px 5px 15px 5px;
        padding: 0;
        color: $mainDarkColor;
        animation: slidein 0.7s linear;
    }
    .prestaDescr {
        animation: fadein linear 1000ms;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: 
        "picture"
        "description"
        "infos";
        justify-items: center;
        align-items: center;
        width: 100%;
        max-width: 1700px;
        padding: 10px;
        .description {
            grid-area: description;
            background: $mainDarkColor;
            height: 100%;
            width: 100%;
            box-shadow: 0 0 5px $mainDarkColor;
            border-radius: 10px;
            padding: 20px;
            margin: 20px 0;
            color: $mainLightColor;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            .titleAndDescr {
                width: 100%;
                h3 {
                    text-align: center;
                }
                h5 {
                    font-size: 1.2em;
                    font-weight: 500;
                    color: $mainDarkColor;
                    background: $mainLightColor;
                    padding: 5px 15px;
                    border-radius: 3px;
                }
                p {
                    font-weight: 300;
                }
            }
            .silhouette {
                width: 100%;
                max-width: 150px;
                filter: invert(92%) sepia(5%) saturate(20%) hue-rotate(225deg) brightness(100%) contrast(97%);
            }
        }
        .picture {
            grid-area: picture;
            border: 5px solid white;
            display: flex;
            border-radius: 10px;
            box-shadow: 0 0 5px $mainDarkColor;
            width: 100%;
            margin: 20px 0;
            img {
                border-radius: 10px;
                object-fit: cover;
            }
        }
        .infos {
            margin: 20px 0;
            grid-area: infos;
            width: 100%;
            background: darken($mainLightColor, 15);
            box-shadow: 0 0 5px $mainDarkColor;
            border-radius: 10px;
            padding: 20px;
            color: darken($mainLightColor, 60);
            display: flex;
            flex-direction: column;
            .titleAndFare {
                display: flex;
                justify-content: space-between;
                align-items: center;
                h3 {
                    text-align: center;
                }
                .fare {
                    text-align: center;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background: $mainDarkColor;
                    padding: 10px;
                    border-radius: 5px;
                    width: 150px;
                    color: $mainLightColor;
                    font-weight: 500;
                    font-size: 1.4em;
                }
            }
            p {
                margin: 20px 0;
                font-weight: 300;
            }
            .contactBtn {
                display: flex;
                align-items: center;
                justify-content: center;
                text-align: center;
                background: $mainDarkColor;
                padding: 10px;
                width: 80%;
                max-width: 300px;
                border-radius: 5px;
                color: $mainLightColor;
                font-weight: 300;
                font-size: 1.4em;
                align-self: center;
                border: 1px solid $mainDarkColor;
                &:hover {
                    background: $mainLightColor;
                    color: $mainDarkColor;
                }
            }
        }
    }
}

@media screen and (min-width:1000px) {
    .prestation {
        h1 {
            font-size: 3.2em;
        }
        .prestaDescr {
            grid-template-columns: 3fr 2fr;
            grid-template-rows: 3fr 2fr;
            grid-template-areas: 
            "description picture"
            "description infos";
            align-items: stretch;
            padding: 15px 40px;
            .description {
                min-height: 838px;
                width: 100%;
                height: 100%;
                margin: 0 20px 0 0;
                .titleAndDescr {
                    h3 {
                        font-size: 1.5em;
                        margin: 0 0 24px 0;
                    }
                }
            }
            .picture {
                margin: 0 0 20px 0;
            }
            .infos {
                margin: 0;
                .titleAndFare {
                    h3 {
                        font-size: 1.5em;
                        margin: 10px 0 10px 0;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 375px) {
    .prestation {
        .infos {
            .titleAndFare {
                flex-direction: column;
            }
        }
    }
}