.categoryName {
    border-radius: 10px;
    background-color: $mainLightColor;
    color: $mainDarkColor;
    font-family: $mainFont;
    padding: 10px;
    margin: 10px;
    width: 100px;
    text-align: center;
    border: 2px solid $mainDarkColor;
    cursor: pointer;
    animation: slidein 0.7s linear;
    &:hover {
        background-color: $mainDarkColor;
        color: $mainLightColor;
    }
}