$mainDarkColor:#47555E;
$mainLightColor: #E8E9E9;
$mainFont: 'Open Sans', sans-serif;

@keyframes slidein {
    0% {
        margin-left:-800px;
        opacity:0;
    }
    25% {
        margin-left:-600px;
        opacity:0;
    }
    50% {
        margin-left:-400px;
        opacity:0.25;
    }
    70% {
        margin-left:-200px;
        opacity:0.5;
    }
    100% {
        margin-left:0px;
        opacity:1;
    }
}

@keyframes fadein {
    0% {
        opacity:0;
    }
    25% {
        opacity:0;
    }
    50% {
        opacity:0.25;
    }
    70% {
        opacity:0.5;
    }
    100% {
        opacity:1;
    }
}