.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 85px;
    padding-bottom: 40px;
    h1 {
        text-align: center;
        font-size: 2.9em;
        font-weight: 300;
        margin: 30px 5px 15px 5px;
        padding: 0;
        color: $mainDarkColor;
        animation: slidein 0.7s linear;
    }
    .contactForm {
        animation: fadein linear 1000ms;
        position: relative;
        width: 90%;
        max-width: 730px;
        background: lighten($mainDarkColor, 25);
        box-shadow: 0 0 5px $mainDarkColor;
        display: flex;
        flex-direction: column;
        margin: 15px 0;
        padding: 20px;
        color: $mainLightColor;
        font-family: $mainFont;
        font-weight: 100;
        border-radius: 5px;
        .contactInfos {
            width: 100%;
            background: $mainDarkColor;
            padding: 20px;
            border-radius: 5px;
            h2 {
                text-align: center;
                font-size: 1.3em;
            }
        }
        label {
            margin: 20px 0 5px 0;
        }
        input, select, textarea {
            border: none;
            border-radius: 5px;
            font-family: $mainFont;
            font-weight: 100;
        }
        input, select {
            padding: 0 15px;
            height: 40px;
            font-size: 1.5em;
        }
        textarea {
            padding: 10px 15px;
        }
        .recaptcha {
            align-self: center;
            margin-top: 20px;
        }
        button {
            margin-top: 20px;
            width: 50%;
            align-self: center;
            border: 1px solid $mainDarkColor;
            padding: 7px;
            border-radius: 5px;
            background: $mainDarkColor;
            color: $mainLightColor;
            display: flex;
            align-items: center;
            justify-content: center;
            font-family: $mainFont;
            font-size: 1.3em;
            font-weight: 100;
            cursor: pointer;
            .send {
                margin-right: 8px;
            }
            &:hover {
                color: $mainDarkColor;
                background: $mainLightColor;
            }
        }
        .disabledBtn {
            opacity: 0.3;
            cursor: default;
            &:hover {
                color: $mainLightColor;
                background: $mainDarkColor;
            }
        }
        .textPolicy {
            font-style: italic;
            font-size: 0.9em;
            text-align: center;
            .policyLink {
                padding: 0 5px;
                border: 1px solid $mainDarkColor;
                border-radius: 5px;
                background: $mainDarkColor;
                color: $mainLightColor;
                cursor: auto ;
                &:hover {
                    color: $mainDarkColor;
                    background: $mainLightColor;
                }
            }
        }
    }
}

@media screen and (min-width: 1000px) {
    .contact {
        h1 {
            font-size: 3.2em;
        }
    }
}