.gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 85px;
    h1 {
        font-weight: 100;
        font-size: 2.9em;
        margin: 30px 5px 15px 5px;
        color: $mainDarkColor;
        text-align: center;
        animation: slidein 0.7s linear;
    }
    .categoriesList {
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 0;
        padding: 15px 0;
    }
    .allCategories {
        border-radius: 10px;
        background-color: darken($mainLightColor, 20);
        color: $mainDarkColor;
        padding: 10px;
        margin: 10px;
        width: 200px;
        text-align: center;
        border: 2px solid $mainDarkColor;
        cursor: pointer;
        &:hover {
            background-color: $mainDarkColor;
            color: $mainLightColor;
        }
    }
    .galleriesList {
        list-style: none;
        margin-bottom: 60px;
        padding: 0;
    }
}

@media screen and (min-width: 1000px) {
    .gallery {
        h1 {
            font-size: 3.2em;
        }
    }
}