.mainPicture {
    background-image: url('/resources/homeBg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    height: calc(100vh - 85px - 32px);
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 85px;
    animation: fadein linear 1000ms;
    .titleBox {
        background: $mainDarkColor;
        opacity: 0.8;
        width: 80%;
        max-width: 800px;
        border-radius: 10px;
        margin: auto 0;
        padding: 10px;
        animation: slidein 0.7s linear;
        h1, h2 {
            text-align: center;
            margin: 0;
            font-weight: 100;
            text-shadow: 0 0 1px black;
            text-shadow: 0 0 1px $mainDarkColor;
        }
        
        h1 {
            color: $mainLightColor;
            font-weight: 100;
            font-size: 5em;
            animation: slidein 0.7s linear;
        }
        h2 {
            color: darken($mainDarkColor, 30);
            font-weight: 100;
            font-size: 4em;
            animation: slidein 0.7s linear;
        }
    }
}

@media screen and (max-width: 800px) {
    .mainPicture {
        .titleBox {
            h1 {
                font-size: 3em;
            }
            h2 {
                font-size: 2.5em;
            }
        }
    }
}

@media screen and (max-width: 417px) {
    .mainPicture {
        .titleBox {
            h1 {
                font-size: 2em;
            }
            h2 {
                font-size: 1.5em;
            }
        }
    }
}